body {
  font-family: "Roboto";
  user-select: none;
}

.app {
  background: #30404d;
  color: #f0f0f0;
}
.slider-handle > .bp3-slider-handle {
  /* background-color: rgb(196 235 255) !important; */
  background-color: white !important;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
